﻿@model Student
@{
    ViewData["Title"] = "Student";
}

<div class="col-xs-12">
    <h2>Student edit</h2>
    <form asp-controller="Home" asp-action="EditSave" method="post" class="form-horizontal">
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label class="control-label col-xs-2">@Html.LabelFor(m => m.Firstname):</label>
            <div class="col-xs-4">@Html.TextBoxFor(m => m.Firstname, new { Class = "form-control" })</div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-2">@Html.LabelFor(m => m.Lastname):</label>
            <div class="col-xs-4">@Html.TextBoxFor(m => m.Lastname, new { Class = "form-control" })</div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-2">@Html.LabelFor(m => m.Email):</label>
            <div class="col-xs-4">@Html.TextBoxFor(m => m.Email, new { Class = "form-control" })</div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-2">@Html.LabelFor(m => m.Phone):</label>
            <div class="col-xs-4">@Html.TextBoxFor(m => m.Phone, new { Class = "form-control" })</div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-2">@Html.LabelFor(m => m.Institute):</label>
            <div class="col-xs-4">@Html.TextBoxFor(m => m.Institute, new { Class = "form-control" })</div>
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-sm btn-primary" />
        </div>
    </form>
</div>