﻿@model List<Student>
@{
    ViewData["Title"] = "Student";
}

<div class="col-xs-12">
    <h2>Students</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>E-mail</th>
                <th>Phone</th>
                <th>Institute</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Student s in Model)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.Lastname @s.Firstname</td>
                    <td>@s.Email</td>
                    <td>@s.Phone</td>
                    <td>@s.Institute</td>
                    <td>
                        <a asp-controller="Home" asp-action="Select" asp-route-StudentId="@s.Id">Open</a> / 
                        <a asp-controller="Home" asp-action="Edit" asp-route-StudentId="@s.Id">Edit</a>
                        <!-- 
                            <a href="#">Delete</a>
                        -->
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="margin-top: 30px">
        <h3>Usage</h3>
        <div><b>Delete</b>: /Home/Delete/?id=2</div>
        <div><b>Create</b>: /Home/Create/?student.Firstname=test&student.Lastname=test&student.email=test@test.ru&student.phone=test&student.institute=test</div>
        <br />
    </div>
</div>