﻿@model Student
@{
    ViewData["Title"] = "Student";
}

<h2>Student</h2>

<div class="row">
    <div class="col-xs-2">@Html.LabelFor(m => m.Firstname)</div>
    <div class="col-xs-4">@Model.Firstname</div>
</div>

<div class="row">
    <div class="col-xs-2">@Html.LabelFor(m => m.Lastname)</div>
    <div class="col-xs-4">@Model.Lastname</div>
</div>

<div class="row">
    <div class="col-xs-2">@Html.LabelFor(m => m.Email)</div>
    <div class="col-xs-4">@Model.Email</div>
</div>

<div class="row">
    <div class="col-xs-2">@Html.LabelFor(m => m.Phone)</div>
    <div class="col-xs-4">@Model.Phone</div>
</div>

<div class="row">
    <div class="col-xs-2">@Html.LabelFor(m => m.Institute)</div>
    <div class="col-xs-4">@Model.Institute</div>
</div>

<a asp-controller="Home" asp-action="Edit" asp-route-StudentId="@Model.Id">Edit this student</a>

                   
                    