﻿@using IApplication.Services
@inject StudentService tempService

@{
    ViewData["Title"] = "Student";
}

<h2>Demo:</h2>
<div>
    <b>Ioc from view inject:</b><br />
    Имя (Student Id = 1): @tempService.Get(1)?.Firstname <br />
    Фамилия (Student Id = 1): @tempService.Get(1)?.Lastname <br />
    <br />
</div>

<div>
    <b>Ioc from controller constructor:</b><br />
    /Ioc/Get/?studentId=1<br />
    <br />
</div>
<div>
    <b>Ioc from method parameter:</b><br />
    /Ioc/GetFromMethod/?studentId=1<br />
    <br />
</div>
<div>
    <b>Ioc from HTTP Context:</b><br /> 
    /Ioc/GetFromHTTPContext/?studentId=1<br />
    <br />
</div>
<div>
    <b>Ioc from Activator Utilities:</b><br />
    /Ioc/GetFromActivator/?studentId=1<br />
    <br />
</div>



